page-list {
    .chgHt{
        height: 20%;
    }
    .ws {
        white-space: pre-line;
      }
    .font{
        font-family:Arial, Helvetica, sans-serif;
    }
    .btn{
        margin-left: 70%;
        margin-top: 20%;
    }
}
