page-home {
    .bgColor{
        background-color: #1560BD;
    }
    .image{
        height: 100%;
        width: 100%;
        background-color: none;
        border-bottom: none;
    }
    .imgLeng{
        width: 30%;
    }
    .textLeng{
        width: 70%;
    }
    .cardht{
        height: 30%;
    }
    .ban{
        height: 70%;
        width: 60%;
    }
    .bottom{
        bottom: 0;
    }
}
