page-home {
    ion-card{
        background-color: yellow;
    }
    .bgColor{
        background-color: yellow;
    }
    .image{
        height: 100%;
        width: 100%;
    }
    .imgLeng{
        width: 30%;
    }
    .textLeng{
        width: 70%;
    }
    .cardht{
        height: 30%;
    }
}
